<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Gavin Greig's Rules for Bridge (JavaScript transpilation) Projects" Description="Some rules are relaxed." ToolsVersion="16.0">
  <Include Path="gavingreig.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1303" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0034" Action="None" />
    <Rule Id="IDE0034WithoutSuggestion" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.Analyzers" RuleNamespace="Microsoft.NetCore.Analyzers">
    <Rule Id="CA1303" Action="None" />
  </Rules>
</RuleSet>